
@import "~/desktop/styles/colors.default.less";

.sh.window {
  display   : grid;
  background: #eee;
  box-shadow: 0 0 8px #fff8, 0 0 4px #0008;
  margin    : 0;
  padding   : 0;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  min-height: 0;  /* NEW */
  min-width: 0; 
  &.active {
  }


 
  grid:
    "titlebar"max-content 
    "toolbar"max-content 
    "main"1fr 
    "statusbar" max-content;

  >.titlebar {
    display:none;
    grid-area: titlebar;
    .panel();
    .colors();
    line-height:32px;
    padding:0 6px 2px;
    >.title {
      font-size:16px;
      vertical-align:middle;
    }

    font-weight:bold;

    >.file {
      vertical-align:middle;
      margin-left: 1em;
    }
  }

  >.toolbar {
    grid-area: toolbar;
    &.ui.menu:empty {
      display:none;
    }
  }

  >.statusbar {
    grid-area: statusbar;
    line-height:1.2;
    padding:4px 8px;
    border-top: solid 1px silver;
  }

  >.main {
    display:grid;
    grid: "client debug" 1fr;
    grid-template-columns: 1fr max-content;
    grid-area:main;
    position:relative;
    overflow:hidden;
    >.debug {
      grid-area:debug;
      border-right:solid 1px silver;
      .colors();
      width:400px;
      overflow:auto;
    }
    >.client {
      grid-area: client;
      min-width:0;
      min-height:0;
      position : relative;
      opacity:0;
      overflow:auto;
      >iframe {
        position: absolute;
        top     : 0;
        left    : 0;
        width   : 100%;
        height  : 100%;
      }
    }
    >.loader {
      display:block;
    }
 }
  

  &[data-state="READY"] {
    > .main {
      >.client {
        opacity:1;
        transition:opacity 0.5s;
      }
      >.loader {
        display:none;
      }
    }
  }
}
