html {
  font-size:16px;
}

.ui.list > .item {
  line-height:1.4;
}
body {
  background: #800;
}

.sh.uncaught-errors {
  position:fixed;
  bottom:0;
  left:25vw;
  right:25vw;
}


.sh.dialog {
  user-select: none;
  margin     : 0;
  padding    : 0;
  max-width: 75vw;
  min-width  :40rem;
 
}

.sh.app-icon {
  background-size    : contain;
  background-repeat  : no-repeat;
  background-position: center;
  width:64px;
  height:64px;
  display:inline-block;
  vertical-align:middle;
  &.tiny {
    width:24px;
    height:24px;
  }
  &.mini {
    width:20px;
    height:20px;
  }
}



.ui.right.aligned.field {
  text-align: right;
}

.sh.panes {
  display:grid;
  grid:"pane";
  > .pane {
    grid-area:pane;
    &:not(.active) {
      visibility:hidden;
    }
  }
}


.sh.launch.button {
  border:none;
  box-shadow:none;
  >.name {
    font-weight:bold;
    margin:0.8em 0 0 0;
  }
}